/*------------------------ CSS RESET---------------------- */
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    background-color: hsl(216, 55%, 11%);
    color: white;
}

/* Card Styling */
.card {
    background-color: hsl(213, 51%, 17%);
    width: 90%;
    max-width: 310px;
    padding: 1.4em;
    border-radius: 14px;
    box-shadow: 1px 1px 30px 0px hsl(0deg 0% 7.09% / 74%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
}

.card:hover {
    transform: translate(-50%, -50%) scale(1.02);
}

/* Card Content */
.card-bottom {
    font-size: 1.8rem;
}

.card-bottom > * {
    margin: 1em 0;
}

.card-bottom .card-heading {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.card-bottom .card-description {
    color: hsl(215, 51%, 70%);
}

/* Divider */
.card-bottom hr {
    opacity: 0.2;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1em; /* Add some space above the button container */
}

/* Button Styling */
.button-container button {
    background-color: hsl(178, 100%, 50%); /* Base color */
    border: none;
    border-radius: 50%; /* Fully rounded */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: hsl(178, 100%, 60%);
}

.button-container button:active {
    background-color: hsl(178, 100%, 70%);
}

/* Icon Styling */
.button-container button i {
    font-size: 24px;
    color: #0f172a; /* Icon color */
}

/* Responsive Design */
@media (max-width: 600px) {
    .card-favo {
        width: 100%;
    }
    .card {
        width: 95%;
    }

    .card-bottom {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .card-favo {
        padding: 1em;
    }
    .card {
        padding: 1em;
    }

    .card-bottom {
        font-size: 1.4rem;
    }
}
.card-favo {
    background-color: hsl(213, 51%, 17%);
    padding: 1.4em;
    border-radius: 14px;
    box-shadow: 1px 1px 30px 0px hsl(0deg 0% 7.09% / 74%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
}
.button-favo{
    background-color: aquamarine;
    padding: 12px;
    text-align: center;
    margin: 10px;
}